<div style="display: flex">

  <div *ngIf="user" class="left-bar">
    <div>
      <div><img width="200" alt="" [src]="user.img64"></div>
    </div>

    <div class="description">
      <div>
        <div class="title">NickName:</div>
        <div class="value">{{user.nickName}}</div>
      </div>
      <div>
        <div class="title">Email:</div>
        <div class="value">{{user.email}}</div>
      </div>
      <div>
        <div class="title">Last name:</div>
        <div class="value">{{user.lastName}}</div>
      </div>
      <div>
        <div class="title">First name:</div>
        <div class="value">{{user.firstName}}</div>
      </div>
      <div>
        <div class="title">Date of creation:</div>
        <div class="value">{{getReleaseYear(user)}}</div>
      </div>
      <div>
        <div class="title">User role:</div>
        <div class="value">{{user.role}}</div>
      </div>
    </div>

  </div>
  <div class="right-bar">

    <a class="do-action" routerLink="/liked-titles">See all what you like</a>
    <div class="block title-from-list">
      <div *ngFor="let title of likedTitles" class="manga-block likes-inner" style="display: flex">
        <a href="/titles/{{title.id}}" class="title-inner-img"
           [style.background-image]="'url(' + title.titleImg + ')'"></a>
        <div class="rows">

          <div class="row">
            <strong>Title name:</strong>
            {{title.titleName}}
          </div>
          <div class="row">
            <strong>Author:</strong>
            {{title.originalAuthor}}
          </div>
          <div class="row">
            <strong>Views:</strong>
            {{title.content.views}}
          </div>
          <div class="row">
            <strong>Likes:</strong>
            {{title.content.likesCount}}
          </div>
        </div>
      </div>
    </div>
    <a class="do-action " routerLink="/user-comments">Check commented posts</a>
    <div class="block title-from-list">
      <div *ngFor="let title of commentedTitles" class="manga-block likes-inner" style="display: flex">
        <a href="/titles/{{title.id}}" class="title-inner-img"
           [style.background-image]="'url(' + title.titleImg + ')'"></a>
        <div class="rows">

          <div class="row">
            <strong>Title name:</strong>
            {{title.titleName}}
          </div>
          <div class="row">
            <strong>Author:</strong>
            {{title.originalAuthor}}
          </div>
          <div class="row">
            <strong>Views:</strong>
            {{title.content.views}}
          </div>
          <div class="row">
            <strong>Likes:</strong>
            {{title.content.likesCount}}
          </div>
        </div>
      </div>
    </div>
    <a class="do-action last" routerLink="/edit-profile">Edit your profile</a>
  </div>
</div>
