<div class="main-content">
  <div class="block title-from-list">
    <div class="" *ngIf="titles.length === 0">
      <h2>No any titles by your filter((</h2>
    </div>
    <div class="manga-block" *ngFor="let title of titles">
      <a href="/titles/{{title.id}}" class="title-img" [style.background-image]="'url(' + title.titleImg + ')'"></a>
      <div class="rows">
        <div class="row">
          <a style="font-size: 22px" href="/titles/{{title.id}}"><strong> {{title.titleName}}</strong></a>
        </div>
        <div class="row">
          <strong>Serials:</strong>
          <span *ngIf="title.serials.length === 0">
          No serials((
        </span>
          <span *ngFor="let ser of title.serials">
          {{ser.serialName}}
        </span>
        </div>
        <div class="row">
          <strong>Categories:</strong>
          <span *ngIf="title.categories.length === 0">
          No categories((
        </span>
          <span *ngFor="let cat of title.categories">
          {{cat.genre}}
        </span>
        </div>
        <div class="row">
          <strong>Tags:</strong>
          <span *ngIf="title.tags.length === 0">
          No tags((
        </span>
          <span *ngFor="let tag of title.tags">
          {{tag.tag}}
        </span>
        </div>
        <div class="row">
          <strong>Date of release:</strong> {{getCreatingDate(title.creationDate)}}
        </div>
        <div class="row">
          <span>{{title.content.likesCount}} likes, {{title.content.views}} views</span>
          <hr>
        </div>
        <div style="border-top: 1px solid black" class="row">
          <span><strong>Description:</strong> {{title.description}}</span>
        </div>

      </div>
    </div>
  </div>

  <div class="right-panel">
    <div>
      <button class="filter-but" *ngIf="hideCats" (click)="hideCats = !hideCats">Show categories</button>
      <button class="filter-but" *ngIf="!hideCats" (click)="hideCats = !hideCats">Hide categories</button>
    </div>
    <div [ngStyle]="{'display': hideCats ? 'none' : 'block'}" *ngIf="allPossible" class="panel">
      <div *ngFor="let cat of allPossible.categories" style="border: black 3px solid">
        <input (change)="addToArr($event, cat, categories)" type="checkbox" name="categories"> {{cat.genre}}
      </div>
    </div>

    <div>
      <button class="filter-but" *ngIf="hideTags" (click)="hideTags = !hideTags">Show tags</button>
      <button class="filter-but" *ngIf="!hideTags" (click)="hideTags = !hideTags">Hide tags</button>
    </div>
    <div [ngStyle]="{'display': hideTags ? 'none' : 'block'}" *ngIf="allPossible" class="panel">
      <div *ngFor="let tag of allPossible.tags" style="border: black 3px solid">
        <input (change)="addToArr($event, tag, tags)" type="checkbox" name="tags"> {{tag.tag}}
      </div>
    </div>

    <div>
      <button class="filter-but" *ngIf="hideSerials" (click)="hideSerials = !hideSerials">Show serials</button>
      <button class="filter-but" *ngIf="!hideSerials" (click)="hideSerials = !hideSerials">Hide serials</button>
    </div>
    <div [ngStyle]="{'display': hideSerials ? 'none' : 'block'}" *ngIf="allPossible" class="panel">
      <div *ngFor="let ser of allPossible.serials" style="border: black 3px solid">
        <input (change)="addToArr($event, ser, serials)" type="checkbox" name="serials"> {{ser.serialName}}
      </div>
    </div>
    <div style="display: flex">
      <button class="filter-but50" style="margin-right: 3px;" (click)="reset()">Reset filter</button>
      <button class="filter-but50" (click)="filterList()">Search</button>
    </div>
  </div>
</div>
