<div *ngIf="title" class="row g-4 p-4">
  <div class="col-md-3 col-lg-3 order-first">
    <div class="row g-1">
      <img [src]="title.titleImg" alt="Admin" class="w-100">
      <div class="col-sm-12">
        <button class="w-100 btn-lg btn-danger" *ngIf="!isLiked" style="color: white"
                (click)="isLiked = !isLiked; like(true);">
          <strong>Вподобати</strong>
        </button>
        <button class="w-100 btn-lg btn-success" *ngIf="isLiked"
                (click)="isLiked = !isLiked; like(false);">
          <strong>Уподобано</strong>
        </button>
      </div>

      <div class="col-sm-12" *ngIf="title.author.nickName">
        <a class="w-100 btn-lg btn-success"  href="/profile-view/{{title.author.id}}"> Автор:
          <strong>@{{title.author.nickName}}</strong>
        </a>
      </div>

      <div class="col-sm-12">
        <input type="text" class="form-control text-center" id="type"
               placeholder="{{'тип: '+ title.typeName}}" disabled>
      </div>
      <div class="col-sm-12">
        <input type="text" class="form-control text-center" id="views"
               placeholder="{{'переглядів: '+ title.content.views}}" disabled>
      </div>
      <div class="col-sm-6">
        <input type="text" class="form-control text-center" id="comments"
               placeholder="{{'коментарів: '+ title.content.comments.length}}" disabled>
      </div>
      <div class="col-sm-6">
        <input type="text" class="form-control text-center" id="likes"
               placeholder="{{'лайків: '+ title.content.likesCount}}" disabled>
      </div>
    </div>
  </div>

  <div class="col-md-9 col-lg-9">
    <h3 class="">Назва: <span>{{title.titleName}}</span></h3>

    <div class="bg-pink p-3">
      <div class="col-12 d-grid">
        <div class="my-1">
          <div class="d-flex" style="gap: 2px;">
            <span style="margin: 0" class="form-label">категорії:</span>
            <a style="color: white" class="px-1" *ngFor="let cat of title.categories">{{cat.genre}}</a>
          </div>
        </div>
        <div class="my-1">
          <div class="d-flex" style="gap: 2px;">
            <span style="margin: 0" class="form-label">теги:</span>
            <a style="color: white" class="px-1" *ngFor="let tag of title.tags">{{tag.tag}}</a>
          </div>
        </div>
        <div class="my-1">
          <div class="d-flex" style="gap: 2px;">
            <span style="margin: 0" class="form-label">серії (покоління, тощо):</span>
            <a style="color: white" class="px-1" *ngFor="let ser of title.serials">{{ser.serialName}}</a>
          </div>
        </div>
        <div class="col-12">
          <textarea style="height: 100px" disabled class="w-100">{{'Description: ' + title.description}}</textarea>
        </div>
      </div>

    </div>
    <a href="/titles/{{title.id}}/images" class="col-3 btn-lg not-border-top order-md-last">
      Переглянути вміст
    </a>


    <div class="row comments">
      <div class="form-group d-flex">
        <div class="col-9">
          <input type="text" [(ngModel)]="comment" class="form-control" placeholder="Поділіться враженнями">
        </div>
        <div class="col-3">
          <button (click)="addComment()" class="form-control">Додати коментар</button>
        </div>
      </div>


      <div class="col-12" *ngFor="let comm of title.content.comments">
        <div
          class="row flex-column g-0 px-3 border rounded not-border-top overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">
            <a href="/profile-view/{{comm.user.id}}">
              <img [src]="comm.user.img64" alt="" class="bd-placeholder-img" width="50">
            </a>
          </div>

          <div class="col p-2 likes-inner d-flex flex-column position-static">
            <div class="row">
              <div class="col-9 d-flex">
                <span class="title">[{{comm.user.nickName}}]</span>
                <span class="ml-3 value">{{comm.commentVal}}</span>
              </div>
              <div class="col-3 d-flex">
                <div class="mb-1 text-muted title"
                     *ngIf="comm.creationDate">{{getDate(comm).toLocaleTimeString()}} {{getDate(comm).toLocaleDateString()}}</div>
                <div class="mb-1 text-muted title" *ngIf="!comm.creationDate">[date parse error]</div>
              </div>
            </div>
          </div>

        </div>
      </div>



    </div>
  </div>
</div>
