<div *ngIf="title" style="display: flex">
  <div class="left-bar">
    <div>
      <div><img width="200" alt="" [src]="title.titleImg"></div>
    </div>
    <button class="like" *ngIf="!isLiked" style="color: white" (click)="isLiked = !isLiked; like(true);">
      <strong> Тупа LIKE</strong>
    </button>
    <button class="like" *ngIf="isLiked" style="color: red" (click)="isLiked = !isLiked; like(false);">
      <strong> Тупа UNLIKE</strong>
    </button>

    <div class="description">

      <div>
        <div class="title">type</div>
        <div class="value">{{title.typeName}}</div>
      </div>
      <div>
        <div class="title">release year</div>
        <div class="value">{{getReleaseYear(title)}}</div>
      </div>
      <div>
        <div class="title">serials</div>
        <div class="value" *ngFor="let cat of title.serials">
          {{cat.serialName}}
        </div>
      </div>
      <div>
        <div class="title">author</div>
        <div *ngIf="title.authorId === 0" class="value">{{title.originalAuthor}}</div>
        <div *ngIf="title.authorId !== 0" class="value"><a href="/profile-view/{{title.authorId}}">{{title.originalAuthor}}</a></div>
      </div>
    </div>
  </div>


  <div class="right-bar">
    <div class="title-name"><strong> TitleName: {{title.titleName}}</strong></div>
    <div class="panel-btns-tags-cats">
      <div class="panel-btns-tags-cats-inner">
        <span> categories:</span>
        <div class="cats-tags" *ngFor="let cat of title.categories">
          <button>{{cat.genre}}</button>
        </div>
      </div>
      <div class="panel-btns-tags-cats-inner">
        <span>tags:</span>
        <div class="cats-tags" *ngFor="let tag of title.tags">
          <button>{{tag.tag}}</button>
        </div>
      </div>
      <div> Description: {{title.description}}</div>
    </div>
    <a class="start-read" href="/titles/{{title.id}}/images">Start read</a>
    <div class="comments">
      <div class="comment-inpt">
        <input type="text" [(ngModel)]="comment" placeholder="Add your comment">
        <button (click)="addComment()">Add comment</button>
      </div>
      <div class="comment-from-user" *ngFor="let comm of title.content.comments">
        <div style="display: flex">
          <img class="user-img" width="40" [src]="comm.user.img64">
          <div class="title">[{{comm.user.nickName ? comm.user.nickName : "[no name]" }}]</div>
          <div class="value">{{comm.commentVal}}</div>
        </div>
        <div style="display: flex">
          <div class="title">{{getDate(comm).toLocaleTimeString()}} {{getDate(comm).toLocaleDateString()}}</div>
        </div>
      </div>
    </div>
  </div>

</div>
