div {
  width: 60%;
  margin: 0 auto;
  background-color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

* {
  box-sizing: border-box;
}

app-footerc {
  text-align: center;
}
