<div *ngIf="title">
  <div>
    <div>TitleId: {{title.id}}</div>
  </div>
  <div>
    <div>TitleName: {{title.titleName}}</div>
  </div>
  <div>
    <div>Author {{title.originalAuthor}}</div>
  </div>
  <div>
    <div>Description {{title.description}}</div>
  </div>
  <div>
    <div>Title Image</div>
    <div><img width="200" alt="" [src]="title.titleImg"></div>
  </div>
  <div class="post" *ngFor="let cat of title.categories">
    <p>{{cat.genre}}</p>
  </div>

  <div class="post" *ngFor="let im of title.content.images">
    <img width="200" alt="" [src]="im.img64">
  </div>

  <button *ngIf="!isLiked" style="color: green" (click)="isLiked = !isLiked; like(true);">
    Тупа LIKE
  </button>
  <button *ngIf="isLiked" style="color: red" (click)="isLiked = !isLiked; like(false);">
    Тупа UNLIKE
  </button>
</div>
