header {
  text-align: center;
  height: 80px;
  width: 100%;
  background-color: green;
  justify-content:space-between;
}

.head-buttons a, span {
  border: 1px solid black;
  font-size: 18px;
  width: min-content;
  padding: 0 30px;
  background-color: #f59993;
}

.head-buttons {
  display: inline-block;
}

.right-buttons {
  align-items: center;
  flex-direction: row;
  flex-grow: 0;
}

