<div class="main-pub">
  <div class="info">
    <div>Welcome to creation page. Build new publication.</div>
    <div>
      <br>
      <div>TitleName</div>
      <input
        [(ngModel)]="titleName"
        type="text"
        placeholder="Enter title name">
    </div>
    <br>
    <div>
      <div>Description</div>
      <input
        [(ngModel)]="description"
        type="text"
        placeholder="Enter description">
    </div>
    <br>
    <div>
      Select the type of title
      <select *ngIf="allPossible" [(ngModel)]="type">
        <option *ngFor="let t of allPossible.types">{{t.typeName}}</option>
      </select>
    </div>

    <div class="custom-form">
      <br><br>
      <div>Select title image</div>
      <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
      <div>
        <div class="custom-image-container-main">
          <label id="add-img-label-main" for="add-single-img-main">+</label>
          <input type="file" id="add-single-img-main" (change)="selectTitleImg($event);" accept="image/jpeg"/>
        </div>
        <input type="file" id="image-input-main" name="photos" accept="image/jpeg"/>
      </div>
    </div>

    <div class="custom-form">
      <div>Select content images. Add as much as necessary.</div>
      <div class="custom-image-container">
        <label id="add-img-label" for="add-single-img">+</label>
        <input type="file" id="add-single-img" (change)="addNewFile($event)" accept="image/jpeg"/>
      </div>
      <input type="file" id="image-input" name="photos" accept="image/jpeg" multiple/>
    </div>


  </div>
  <div class="all-possible-content-panel">
    <div *ngIf="allPossible" class="panel">
      <h2> Select categories for title</h2>
      <div *ngFor="let cat of allPossible.categories" style="margin-top: 1px; border: black 1px solid">
        <input (change)="addToArr($event, cat, categories)" type="checkbox" name="categories"> {{cat.genre}}
      </div>
    </div>

    <div *ngIf="allPossible" class="panel">
      <h2> Select tags for title </h2>
      <div *ngFor="let tag of allPossible.tags" style="margin-top: 1px; border: black 1px solid">
        <input (change)="addToArr($event, tag, tags)" type="checkbox" name="tags"> {{tag.tag}}
      </div>
    </div>

    <div *ngIf="allPossible" class="panel">
      <h2> Select serials for title</h2>

      <div *ngFor="let ser of allPossible.serials" style="margin-top: 1px; border: black 1px solid">
        <input (change)="addToArr($event, ser, serials)" type="checkbox" name="serials"> {{ser.serialName}}
      </div>
    </div>

  </div>

  <button (click)="addPost()">Add Post</button>


</div>
