<div>
  <div>
    <div>TitleName</div>
    <input
      [(ngModel)]="titleName"
      type="text"
      placeholder="Enter title name">
  </div>
  <div>
    <div>Author</div>
    <input
      [(ngModel)]="originalAuthor"
      type="text"
      placeholder="Enter author">
  </div>
  <div>
    <div>Description</div>
    <input
      [(ngModel)]="description"
      type="text"
      placeholder="Enter description">
  </div>
  <div style="">
    <div>Title Image</div>
    <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
    <div><img
      [src]="url"
      *ngIf="url"></div>
    <input *ngIf="!edited" type="file" (change)="selectTitleImg($event);">
  </div>

  <div id="images" style="border: black 3px solid">
    add new one?
    <div><img [src]="urls" *ngIf="urls"></div>
    <input type="file" (change)="addNewFile($event)">

    <div *ngFor="let u of urls"><img
      [src]="u"
      *ngIf="u"></div>
  </div>

  <select *ngIf="allPossible" [(ngModel)]="type">
    <option *ngFor="let t of allPossible.types">{{t.typeName}}</option>
  </select>

  <div *ngIf="allPossible" class="panel">
    <h2> All categories??</h2>
    <div *ngFor="let cat of allPossible.categories" style="border: black 3px solid">
      <input (change)="addToArr($event, cat, categories)" type="checkbox" name="categories"> {{cat.genre}}
    </div>
  </div>

  <div *ngIf="allPossible" class="panel">
    <h2> All tags??</h2>
    <div *ngFor="let tag of allPossible.tags" style="border: black 3px solid">
      <input (change)="addToArr($event, tag, tags)" type="checkbox" name="tags"> {{tag.tag}}
    </div>
  </div>

  <div *ngIf="allPossible" class="panel">
    <h2> All serials??</h2>

    <div *ngFor="let ser of allPossible.serials" style="border: black 3px solid">
      <input (change)="addToArr($event, ser, serials)" type="checkbox" name="serials"> {{ser.serialName}}
    </div>
  </div>

  <button (click)="addPost()">Add Post</button>
</div>
